# Node
node_modules
npm-debug.log
.node_history
# Exclude profiling file output
*.out
# Exclude coverage report
!/coverage/
/coverage/*
!/coverage/scripts

# IDE
.idea

# Other
.DS_STORE
*#
*~
.*.swp
.tags

